<!-- wp:template-part {"slug":"header","theme":"wp-dev24","tagName":"header","className":"shadow"} /-->

<!-- wp:columns {"className":"container !mx-auto","style":{"spacing":{"blockGap":{"top":"4rem"}}}} -->
<div class="wp-block-columns container !mx-auto"><!-- wp:column {"width":"70%"} -->
  <div class="wp-block-column" style="flex-basis:70%"><!-- wp:wp-dev24-plus/search-form /-->
  
  <!-- wp:query {"queryId":3,"query":{"perPage":10,"pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":true}} -->
  <div class="wp-block-query"><!-- wp:post-template -->
  <!-- wp:columns -->
  <div class="wp-block-columns"><!-- wp:column {"width":"33.33%"} -->
  <div class="wp-block-column" style="flex-basis:33.33%"><!-- wp:post-author {"avatarSize":24,"className":"post-author","style":{"elements":{"link":{"color":{"text":"var:preset|color|wp-dev24-gray-700"}}},"spacing":{"margin":{"bottom":"0.5rem"}}},"textColor":"wp-dev24-gray-700"} /-->
  
  <!-- wp:post-title {"isLink":true,"style":{"typography":{"fontSize":"1.25rem","fontStyle":"normal","fontWeight":"700","lineHeight":"1.75"},"elements":{"link":{"color":{"text":"var:preset|color|wp-dev24-gray-700"},":hover":{"color":{"text":"var:preset|color|wp-dev24-primary"}}}},"spacing":{"margin":{"bottom":"0.5rem"}}},"textColor":"wp-dev24-gray-700"} /-->
  
  <!-- wp:post-date {"isLink":true,"style":{"elements":{"link":{"color":{"text":"var:preset|color|wp-dev24-gray-500"},":hover":{"color":{"text":"var:preset|color|wp-dev24-primary"}}}}},"textColor":"wp-dev24-gray-700"} /--></div>
  <!-- /wp:column -->
  
  <!-- wp:column {"width":"66.66%"} -->
  <div class="wp-block-column" style="flex-basis:66.66%"><!-- wp:post-featured-image {"isLink":true,"width":"100%","className":"rounded-lg overflow-hidden","style":{"spacing":{"margin":{"bottom":"1rem"}}}} /-->
  
  <!-- wp:post-terms {"term":"category","className":"bi bi-tag","style":{"elements":{"link":{"color":{"text":"var:preset|color|wp-dev24-gray-500"},":hover":{"color":{"text":"var:preset|color|wp-dev24-primary"}}}},"typography":{"fontSize":"0.88rem"},"spacing":{"padding":{"bottom":"1rem"}}}} /-->
  
  <!-- wp:post-excerpt {"excerptLength":35,"style":{"typography":{"fontSize":"1rem"},"elements":{"link":{"color":{"text":"var:preset|color|wp-dev24-gray-500"}}}},"textColor":"wp-dev24-gray-500"} /--></div>
  <!-- /wp:column --></div>
  <!-- /wp:columns -->
  <!-- /wp:post-template -->
  
  <!-- wp:query-pagination -->
  <!-- wp:query-pagination-previous /-->
  
  <!-- wp:query-pagination-numbers /-->
  
  <!-- wp:query-pagination-next /-->
  <!-- /wp:query-pagination -->
  
  <!-- wp:query-no-results -->
  <!-- wp:paragraph {"placeholder":"Add text or blocks that will display when a query returns no results."} -->
  <p></p>
  <!-- /wp:paragraph -->
  <!-- /wp:query-no-results --></div>
  <!-- /wp:query --></div>
  <!-- /wp:column -->
  
  <!-- wp:column {"width":"30%"} -->
  <div class="wp-block-column" style="flex-basis:30%"></div>
  <!-- /wp:column --></div>
  <!-- /wp:columns -->
  
  <!-- wp:template-part {"slug":"footer","theme":"wp-dev24","tagName":"footer","className":"bg-gray-700 p-16"} /-->